* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-color: #1e1e1e;
    border-bottom: 2px solid #e62429;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.logo img {
    height: 50px;
}

.nav-menu ul {
    display: flex;
    list-style: none;
}

.nav-menu ul li {
    margin-left: 20px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-menu ul li a:hover {
    color: #e62429;
}

.button a {
    text-decoration: none;
    background-color: #e62429;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button a:hover {
    background-color: #ff4d4d;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;

}

.hamburger-menu span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin: 4px;
    transition: all 0.3s;
}



.nav-menu.active ul {
    display: flex;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background: url('assets/halloween-cobweb-background_23-2148620637.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

.hero-content {
    max-width: 600px;
    z-index: 1;
}

.hero-content h1 {
    font-size: 3em;
    color: #e62429;
}

.hero-content p {
    font-size: 1.2em;
    margin: 20px 0;
}

.hero-button {
    text-decoration: none;
    background-color: #e62429;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-button:hover {
    background-color: #ff4d4d;
}

.hero-image img {
    height: 600px;
    z-index: 1;
    margin-top: 170px;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.about-us-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  30px 150px 0px 170px;
    background-color: #1e1e1e;
}

.about-us-content {
    max-width: 600px;
}

.about-us-content h2 {
    font-size: 2.5em;
    color: #e62429;
    margin-bottom: 20px;
}

.about-us-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.about-cta {
    text-decoration: none;
    background-color: #e62429;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.about-cta:hover {
    background-color: #ff4d4d;
}

.about-us-image img {
    height: 600px;
}
.services-section {
    padding: 50px;
    background-color: #121212;
}

.services-section h2 {
    text-align: center;
    font-size: 2.5em;
    color: #e62429; /* Spider-Man red */
    margin-bottom: 50px;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin: 10px;
    min-width: 250px;
    max-width: 30%;
    text-align: center;
    transition: transform 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-card img {
    height: 100px;
    margin-bottom: 20px;
}

.service-card h3 {
    font-size: 1.5em;
    color: #e62429; /* Spider-Man red */
    margin-bottom: 10px;
}

.service-card p {
    font-size: 1em;
    color: #ccc;
}
.projects-section {
    padding: 50px;
    background-color: #1e1e1e;
    text-align: center;
}

.projects-section h2 {
    font-size: 2.5em;
    color: #e62429; /* Spider-Man red */
    margin-bottom: 40px;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 250px;
    max-width: 30%;
    text-align: center;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card img {
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
}

.project-card h3 {
    font-size: 1.5em;
    color: #e62429; /* Spider-Man red */
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1em;
    color: #ccc;
}



.testimonials-section {
    padding: 50px;
    background-color: #121212;
    text-align: center;
}

.testimonials-section h2 {
    font-size: 2.5em;
    color: #e62429; /* Spider-Man red */
    margin-bottom: 40px;
}

.testimonials-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.testimonial-card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 250px;
    max-width: 30%;
    text-align: center;
    transition: transform 0.3s;
}

.testimonial-card:hover {
    transform: translateY(-10px);
}

.testimonial-card p {
    font-size: 1em;
    color: #ccc;
    margin-bottom: 10px;
}

.testimonial-card h3 {
    font-size: 1.2em;
    color: #e62429; /* Spider-Man red */
}
.news-section {
    padding: 50px;
    background-color: #1e1e1e;
    text-align: center;
}

.news-section h2 {
    font-size: 2.5em;
    color: #e62429; /* Spider-Man red */
    margin-bottom: 40px;
}

.news-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.news-card {
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 250px;
    max-width: 30%;
    text-align: center;
    transition: transform 0.3s;
}

.news-card:hover {
    transform: translateY(-10px);
}

.news-card img {
    height: 150px;
    margin-bottom: 20px;
}

.news-card h3 {
    font-size: 1.5em;
    color: #e62429; /* Spider-Man red */
    margin-bottom: 10px;
}

.news-card p {
    font-size: 1em;
    color: #ccc;
    margin-bottom: 20px;
}

.news-cta {
    text-decoration: none;
    background-color: #e62429; /* Spider-Man red */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.news-cta:hover {
    background-color: #ff4d4d;
}
.contact-section {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 0px 50px 50px;
    background-color: #1e1e1e;
    text-align: center;
}
.contact-section img{
    height: 400px;
    position: relative;
    left: 0;
}
.contact-section h2 {
    font-size: 2.5em;
    color: #e62429; /* Spider-Man red */
    margin-bottom: 40px;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    width: 600px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #121212;
    color: #fff;
}

.contact-cta {
    text-decoration: none;
    background-color: #e62429; /* Spider-Man red */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;
}

.contact-cta:hover {
    background-color: #ff4d4d;
}

/* Footer */

.footer {
    padding: 10px 70px;
    background-color: #121212;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-logo img {
    height: 50px;
}

.footer-nav ul {
    display: flex;
    list-style: none;
}

.footer-nav ul li {
    margin-left: 20px;
}

.footer-nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer-nav ul li a:hover {
    color: #e62429; /* Spider-Man red */
}

.footer-social a {
    margin-left: 10px;
}

.footer-social a i {
    height: 50px;
    width: 50px;
    font-size: 30px;
    color: #e62429;
    transition: transform 0.3s;
}

.footer-social a:hover i {
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    color: #ccc;
}

@media (max-width: 768px) {

    .nav-menu ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #1e1e1e;
    }

    .nav-menu ul li {
        margin: 10px 0;
        text-align: center;
    }

    .hamburger-menu {
        display: flex;
    }

    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-image img {
        height: 300px;
        margin-top: 0px;
    }
   
    .hero-content h1 {
        margin-top: 120px;
        font-size: 3em;
        color: #e62429;
    }

    .hero-content p {
        font-size: 1em;
    }

    .about-us-section {
        flex-direction: column;
        text-align: center;
        padding:  30px 50px 0px 50px;
        padding: 10p;
        background: url('assets/WhatsApp_Image_2024-07-26_at_10.34.20_PM-removebg.png') no-repeat center center/cover;
    }

    .about-us-image img {
        height: 400px;
    }

    .about-us-content h2 {
        font-size: 2em;
    }

    .about-us-content p {
        font-size: 1em;
    }
    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        max-width: 80%;
        /* gap: 20px; */
    }
    .testimonials-container {
        flex-direction: column;
        align-items: center;
    }

    .testimonial-card {
        max-width: 80%;
    }
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        max-width: 80%;
    }
    .news-container {
        flex-direction: column;
        align-items: center;
    }

    .news-card {
        max-width: 80%;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .footer-social {
        margin-top: 10px;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        max-width: 900px;
        margin: 0 auto;
        width: 400px;
    }

}